@model Branding365Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome @Model.UserName!</h2>
    <p class="lead">
        <b>Branding for SharePoint: <a href="@Model.SiteUrl">@Model.SiteName</a></b>
        @if (Model.HasCustomBranding)
        {
            <span class="badge">Customised</span>
        }
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>SharePoint introduces a Cloud App Model that enables a different way of provisioning content and branding. This app can be used to automatically brand a SharePoint Online site.</p>
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("DeployBranding", "Home"))
                {
                    <button type="submit" class="btn btn-primary pull-right" @Model.DeployButtonAttributes>Deploy</button>
                    <br />
                    <br />
                    <div class="checkbox">
                        <label for="chkExistingFiles"><input id="chkExistingFiles" name="OverrideExistingFiles" type="checkbox" value="true" checked="checked" />Override existing files</label>
                    </div>
                    <div class="checkbox">
                        <label for="chkSubSites"><input id="chkSubSites" name="ApplyToSubSites" type="checkbox" value="true" />Apply to sub sites</label>
                    </div>
                }
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("RetractBranding", "Home"))
                {
                    <button type="submit" class="btn btn-warning btn-large" @Model.RetractButtonAttributes>Retract</button>
                }
            </div>
        </div>
        <h4>Log</h4>
        <pre>@Html.Raw(Model.ThemeInfo)</pre>
    </div>
    <div class="col-md-8">
        <h2>Contents</h2>
        <p>Version: @Html.Encode(Model.VersionNumber)</p>
        <table class="table table-striped">
            @foreach (var listing in Model.Items)
            {
                <tr><th>@Html.Encode(listing.Type)</th><td>@Html.Encode(listing.Source)</td></tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Theme Info</h4>
        <pre style="height: 200px; overflow-y: scroll;">@Html.Encode(Model.Log)</pre>
    </div>
</div>
